h1, h3, h6 {
  text-align: center;
  padding-left: 23%;
  padding-right: 23%
}

h1 {
  font-size: 48px;
}

h6 {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
   h1, h3, h6 {
    padding-left: 5%;
    padding-right: 5%;
  }

}
